/* src/styles/Login.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f4f4f4; */
}

spam{
    color: var(--primary-red);
    cursor: pointer;
}
p spam:active{
    color: var(--primary-red);
    font-weight: bold;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  /* background-color: white; */
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 2px rgba(85, 85, 85, 0.167);
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  /* color: #202123; */
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-red);
  border-radius: 6px;
  font-size: 1rem;
}
.login-input:focus {
  border: 2px solid var(--primary-red); 
}
.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--primary-red);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--secondary-red);
}
.login-button:active{
   background-color: var(--primary-red);
}