 html, body, #root {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  /* justify-content: space-between; */
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light);
  /* border: 5px solid rgb(241, 22, 22); */
}

.header-logo{
    display: none;
  }
.ChatSidebar{
  width: 40%;
  height: 100vh;
  z-index: 100;
  /* border: 1px solid white; */
}



hr {
  border: none;
  height: 1px;
  background-color: #4c4e4c;
  margin: 10px 0;
}


/* Main section - 80% */
.main {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  /* border: 1px solid white; */
}

/* Header bar */
.header {
  height: 40px;
  box-shadow: 0px 1px 3px var(--tertiary-red);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.header img{
  width: 70px;

}

/* Scrollable chat messages */
.messageList {
  flex: 1; 
  overflow-y: auto;
  margin-bottom: 0px;
  width :100%;
  /* border: solid 1px black; */
}
.messageInput{
   width: 60%;
  }
/* Input box at bottom */

.footer{
   /* background-color: var( --secondary-dark); */
   align-self: center;
}


/* Prevent ALL child elements from overflowing horizontally */
.container, .main, .sidebar {
  overflow-x: hidden;
}
.header-small-screen{
  height: 60px;
}
.header-small-screen .logo,.sidebar-icons{
  display: none;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  .footer{
   background-color: white;
   align-self: center;
  }
}


  


@media (min-width: 600px)and (max-width:960px) {
    .main{
      width: 100%;
      padding: 0%;
      margin: 0%;
      flex-basis: auto;
    }
    .header-small-screen{
      display: block;
    }
    .ChatSidebar{
      width: 10%;
    }
    .messageList{
      margin-bottom:0.1rem;
      width: 100%;
      scrollbar-width: none;
    -ms-overflow-style: none;
  }
    .messageInput{
      width: 85%;
    }
    .messageList::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    .header-logo{
    display: block;
  }
   .sidebar-icons{
    display: none;
   }
  
}

@media (max-width: 601px) {
  .container{
    display: block;
  }
  .ChatSidebar{
    display: none;
  }
  .messageList::-webkit-scrollbar {
    display: none;
  }
  .main{
    margin-right:0 ;
    padding-right:0 ;
  }
  .messageInput{
    width: 85%;
  }
  .messageList{
    width: 85%;
  }
  .header-logo{
    display: block;
    position: absolute;
    left: 50%;
  }
  .header-small-screen{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
  }
  .sidebar-icons{
    justify-items: start;
    /* border: 1px solid white; */
    margin: 20px;
  }
  
}