body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
.requestText{
  padding: 1rem;
  width: 100%;
}
.request {
    max-width: 700px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (prefers-color-scheme: dark) {
  .request {
    color: var(--text-primary);
    background-color:var(--light-tertiary-red);
  }
}

@media (prefers-color-scheme: light) {
  .request {
    color:white;
    background-color:var(--light-primary-red);
  }
}
/* .........................tablet................................ */
@media (min-width: 600px)and (max-width:960px)  {
  .request{
    max-width: 100%;
    background-color: aqua;
  }
}

/* ...............................phone........................................... */
@media (max-width: 600px) {
  .request{
    max-width: 100%;
    background-color: blueviolet;
  }
}
