* {
  box-sizing: border-box;
}
.message-input{
    background:var( --tertiary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px rgb(232, 232, 232); */
    width: 100%;
    border-radius: 1rem;
    padding: 10px 13px;
    height: 5rem;  
}
.message-input-small{
    display: none;
  }
.icons{
    display: flex;
    color:var( --icon-color);
    align-items: center;
    justify-content: space-between;
}
.send-icon{
   display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--dark);
  background-color:var(--text-primary) ;             
  }
.send-icon:hover{
  background-color: var(--text-secondary);
  }
.send-icon:active{
  color: var(--primary-red);
}
InputField{
   box-sizing: border-box;
}



  

@media (prefers-color-scheme: light) {
  .message-input {
    background:var(--main-light);
    border: 1px solid var( --secondary-light);
  }

  .icons{
    color: var( --main-dark);
  }
}
@media (prefers-color-scheme: dark) {
  .message-input {
     background:var( --tertiary-dark);
     /* border:0.5px solid var(--tertiary-light); */

  }
  .send-icon{
     background-color: var(--text-primary);
  
  }
  .send-icon:hover{
      background-color: var(--text-secondary);
}
  .icons{
    color: white;
  }
}

@media (min-width: 600px)and (max-width:960px) {
   .message-input{
    display: block;
    width: 100%;
   }

}
@media (max-width: 601px) {
  .message-input {
    display: none;
  } 

   .send-icon{
    height:2.5rem;
   }
  .message-input-small{
    display:block; 
    width: 100%;
  }
  .small-message-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 100%;
    height: 2.5rem;
    z-index: 100;
  }
  .smallInput{
    flex-basis: 90%;
    border-radius: 1rem;
    /* padding: 10px 13px; */
    background:var( --tertiary-dark);
    /* border: solid 1px rgb(232, 232, 232); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
  }
  .upload-icon-small{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 15px;
  color:white;
  background:var( --tertiary-dark);
  }
}
