* {
  box-sizing: border-box;
}
.message-input{
    background:var( --tertiary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px rgb(232, 232, 232); */
    width: 100%;
    border-radius: 1.5rem;
    padding: 10px 13px;
    height: 6rem;  
}
.icons{
    display: flex;
    color:var( --icon-color);
    align-items: center;
    justify-content: space-between;
}
.send-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(  --text-primary);
    border-radius: 50%;
    color: var( --bg-secondary);
}
.send-icon:hover{
      background-color: var(--text-secondary);
}
InputField{
   box-sizing: border-box;
}
@media (max-width: 600px) {
  
}
@media (prefers-color-scheme: light) {
  .message-input {
    background:var(--main-light);
    border: 1px solid var( --secondary-light);
  }

  .icons{
    color: var( --main-dark);
  }
}
@media (prefers-color-scheme: dark) {
  .message-input {
     background:var( --tertiary-dark);
     /* border:0.5px solid var(--tertiary-light); */

  }
  .send-icon{
     background-color: var(--tertiary-light);
  
  }
  .send-icon:hover{
      background-color: var(--text-secondary);
}
  .icons{
    color: white;
  }
}
